---
import Layout from "../layouts/Layout.astro";
import Comment from "../components/Comment.astro";
---
<Layout title="Interactive comments section">
	<main>
		<Comment
      username=""
      userImage=""
      createdAt=""
      content=""
    />
	</main>
</Layout>

