---
import Layout from "../layouts/Layout.astro";
import Comment from "../components/Comment.astro";
import { data } from "../data/commentsData";

---
<Layout title="Interactive comments section">
	<main>
    
	</main>
</Layout>

